* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

@font-face {
  font-family: "roboto"; }
body {
  max-width: 1440px;
  background-color: white; }

header {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  grid-template-rows: 100px;
  align-items: center;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); }

.logo {
  grid-column: 1/2;
  justify-self: center;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 119px;
  height: 56px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; }
  .logo .logo_span {
    width: 71px;
    height: 56px;
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: row;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.05em; }
    .logo .logo_span .logo_span_1 {
      color: #85171A; }
    .logo .logo_span .logo_span_2 {
      color: #DC2025; }
    .logo .logo_span .logo_span_3 {
      color: #FEBA08; }
  .logo .l1, .logo .l2, .logo .l3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: -0.05em; }
  .logo .l1 {
    width: 48px;
    height: 14px;
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    align-self: end;
    color: rgba(0, 0, 0, 0.6); }
  .logo .l2 {
    width: 48px;
    height: 14px;
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    align-self: center;
    color: rgba(38, 50, 56, 0.8); }
  .logo .l3 {
    width: 48px;
    height: 14px;
    grid-row: 3 / 4;
    grid-column: 2 / 4;
    align-self: start;
    color: #263238; }

.nav {
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none; }
  .nav a {
    text-decoration: none;
    color: rgba(31, 46, 53, 0.8); }

.arr::after {
  content: "";
  background-image: url(../img/chevron_down.svg);
  display: inline-block;
  margin-left: 5px;
  width: 13px;
  height: 9px; }

.nav_btn {
  grid-column: 3/4;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 15px;
  list-style-type: none; }
  .nav_btn li {
    align-self: center; }

.section1 {
  display: grid;
  grid-template-columns: 1fr 4fr 0.5fr 4fr 1fr;
  grid-template-rows: minmax(600px, auto); }
  .section1 .lsi_sec1 {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: start; }
    .section1 .lsi_sec1 h1 {
      align-self: end;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 3em;
      line-height: 110.69%;
      color: #EE4248;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
      .section1 .lsi_sec1 h1 span {
        color: #1F2E35; }
    .section1 .lsi_sec1 .sec1_p {
      align-self: center;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 1.25em;
      line-height: 29px;
      color: #30444E; }
    .section1 .lsi_sec1 .sec1_btn {
      align-self: start;
      display: block;
      text-align: center;
      padding-top: 10px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 29px;
      background: #EE4248;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      color: #FFFFFF;
      width: 161px;
      height: 53px;
      text-decoration: none; }
  .section1 .rsi_sec1 {
    grid-column: 4/5;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    margin-top: 8em; }
  .section1 .rsi_sec1_img {
    background: url(/img/q1.svg) no-repeat;
    max-width: 100%; }

.section2 {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 4fr 1fr;
  grid-template-rows: minmax(500px, auto);
  background-color: #F6F6F6; }
  .section2 .lsi_sec2 {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
    align-self: center; }
    .section2 .lsi_sec2 .lsi_sec2_img {
      background: url(/img/pana2.svg) no-repeat;
      max-width: 543px;
      max-height: 430px; }
  .section2 .rsi_sec2 {
    grid-column: 4/5;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    align-items: stretch;
    gap: 1rem; }
    .section2 .rsi_sec2 .rsi_sec2 > h2 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 2em;
      line-height: 133.69%; }
    .section2 .rsi_sec2 .rsi_sec2_span {
      color: #EE4248; }
    .section2 .rsi_sec2 .rsi_sec2_p1 > span, .section2 .rsi_sec2 .rsi_sec2_p2 > span {
      color: #EE4248; }

.section3 {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-template-rows: minmax(100px, 1fr) minmax(500px, 5fr);
  gap: 3rem;
  background-color: #FFFFFF; }
  .section3 .sec3_h3 {
    grid-column: 1/6;
    grid-row: 1/2;
    justify-self: center;
    align-self: end;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem; }
  .section3 .sec3_item1 {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 1fr 1fr; }
    .section3 .sec3_item1 .ico_sec3_1 {
      grid-column: 1/2;
      grid-row: 1/2;
      align-self: center; }
    .section3 .sec3_item1 h3 {
      grid-column: 1/2;
      grid-row: 2/3;
      align-self: center;
      color: #EE4248;
      font-size: 1.5rem; }
    .section3 .sec3_item1 p {
      grid-column: 1/2;
      grid-row: 3/4;
      align-self: start;
      color: #30444E;
      font-size: 1rem; }
    .section3 .sec3_item1 .sec3_a {
      grid-column: 1/2;
      grid-row: 4/5;
      align-self: center; }
  .section3 .sec3_item2 {
    grid-column: 3/4;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 1fr 1fr; }
    .section3 .sec3_item2 .ico_sec3_2 {
      grid-column: 1/2;
      grid-row: 1/2;
      align-self: center; }
    .section3 .sec3_item2 h3 {
      grid-column: 1/2;
      grid-row: 2/3;
      align-self: center;
      color: #EE4248;
      font-size: 1.5rem; }
    .section3 .sec3_item2 p {
      grid-column: 1/2;
      grid-row: 3/4;
      align-self: start;
      color: #30444E;
      font-size: 1rem; }
    .section3 .sec3_item2 .sec3_a {
      grid-column: 1/2;
      grid-row: 4/5;
      align-self: center; }
  .section3 .sec3_item3 {
    grid-column: 4/5;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 1fr 1fr; }
    .section3 .sec3_item3 .ico_sec3_3 {
      grid-column: 1/2;
      grid-row: 1/2;
      align-self: center; }
    .section3 .sec3_item3 h3 {
      grid-column: 1/2;
      grid-row: 2/3;
      align-self: center;
      color: #EE4248;
      font-size: 1.5rem; }
    .section3 .sec3_item3 p {
      grid-column: 1/2;
      grid-row: 3/4;
      align-self: start;
      color: #30444E;
      font-size: 1rem; }
    .section3 .sec3_item3 .sec3_a {
      grid-column: 1/2;
      grid-row: 4/5;
      align-self: center; }
  .section3 .sec3_a {
    align-self: start;
    display: block;
    text-align: center;
    padding-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    background: #EE4248;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color: #FFFFFF;
    width: 161px;
    height: 53px;
    text-decoration: none; }

.section4 {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
  grid-template-rows: minmax(150px, auto); }
  .section4 .sec4_item1 {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr; }
    .section4 .sec4_item1 .logo {
      justify-self: start; }
  .section4 .sec4_item2 {
    grid-column: 3/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 0.5fr);
    justify-items: start;
    align-items: center; }
    .section4 .sec4_item2 a {
      text-decoration: none;
      color: #263238; }

footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  max-height: 4rem;
  background-color: #EE4248; }

/*# sourceMappingURL=style.css.map */
