@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

@font-face {
  font-family: "roboto";
  src: url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap); }
body {
  max-width: 1440px;
  background-color: white;
  font-size: 16px; }

header {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  grid-template-rows: 6.25rem;
  align-items: center;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); }

.logo {
  grid-column: 1/2;
  justify-self: center;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 119px;
  height: 56px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; }
  .logo .logo_span {
    width: 71px;
    height: 56px;
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: row;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.05em; }
    .logo .logo_span .logo_span_1 {
      color: #85171A; }
    .logo .logo_span .logo_span_2 {
      color: #DC2025; }
    .logo .logo_span .logo_span_3 {
      color: #FEBA08; }
  .logo .l1, .logo .l2, .logo .l3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: -0.05em; }
  .logo .l1 {
    width: 48px;
    height: 14px;
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    align-self: end;
    color: rgba(0, 0, 0, 0.6); }
  .logo .l2 {
    width: 48px;
    height: 14px;
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    align-self: center;
    color: rgba(38, 50, 56, 0.8); }
  .logo .l3 {
    width: 48px;
    height: 14px;
    grid-row: 3 / 4;
    grid-column: 2 / 4;
    align-self: start;
    color: #263238; }

#menu__toggle {
  display: none; }

.hamburger-menu {
  grid-column: 2/3;
  grid-row: 1/2; }

.menu__box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none; }
  .menu__box a {
    text-decoration: none;
    color: rgba(31, 46, 53, 0.8); }

.arr::after {
  content: "";
  background-image: url(../img/chevron_down.svg);
  display: inline-block;
  margin-left: 5px;
  width: 13px;
  height: 9px; }

.nav_btn {
  grid-column: 3/4;
  grid-row: 1/2;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 15px;
  list-style-type: none; }
  .nav_btn li {
    align-self: center; }

.section1 {
  display: grid;
  grid-template-columns: 1fr 4fr 0.5fr 4fr 1fr;
  grid-template-rows: minmax(37.5rem, auto); }
  .section1 .lsi_sec1 {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: start; }
    .section1 .lsi_sec1 h1 {
      align-self: end;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 3em;
      line-height: 110.69%;
      color: #EE4248;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
      .section1 .lsi_sec1 h1 span {
        color: #1F2E35; }
    .section1 .lsi_sec1 .sec1_p {
      align-self: center;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 1.25em;
      line-height: 29px;
      color: #30444E; }
    .section1 .lsi_sec1 .sec1_btn {
      align-self: start;
      display: block;
      text-align: center;
      padding-top: 10px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 29px;
      background: #EE4248;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      color: #FFFFFF;
      width: 10rem;
      height: 3.31rem;
      text-decoration: none; }
  .section1 .rsi_sec1 {
    grid-column: 4/5;
    grid-row: 1/2;
    align-self: center;
    box-sizing: border-box; }
  .section1 .rsi_sec1_img {
    background-size: contain;
    max-width: auto; }

.section2 {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 4fr 1fr;
  grid-template-rows: 1fr;
  background-color: #F6F6F6; }
  .section2 .lsi_sec2 {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
    align-self: center; }
    .section2 .lsi_sec2 .lsi_sec2_img {
      background-size: cover;
      width: 100%; }
  .section2 .rsi_sec2 {
    grid-column: 4/5;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    align-items: stretch;
    gap: 1rem; }
    .section2 .rsi_sec2 .rsi_sec2 > h2 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 2em;
      line-height: 133.69%; }
    .section2 .rsi_sec2 .rsi_sec2_span {
      color: #EE4248; }
    .section2 .rsi_sec2 .rsi_sec2_p1 > span, .section2 .rsi_sec2 .rsi_sec2_p2 > span {
      color: #EE4248; }

.section3 {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  /*grid-template-rows: minmax(6.25rem, 1fr) minmax(31.25rem, 4fr);*/
  grid-template-rows: 1fr 3fr;
  gap: 2rem;
  background-color: #FFFFFF; }
  .section3 .sec3_h3 {
    grid-column: 1/6;
    grid-row: 1/2;
    justify-self: center;
    align-self: end;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem; }
  .section3 .sec3_item1 {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.7fr 1fr 0.4fr; }
    .section3 .sec3_item1 .ico_sec3_1 {
      grid-column: 1/2;
      grid-row: 1/2;
      align-self: center; }
    .section3 .sec3_item1 h3 {
      grid-column: 1/2;
      grid-row: 2/3;
      align-self: center;
      color: #EE4248;
      font-size: 1.5rem; }
    .section3 .sec3_item1 p {
      grid-column: 1/2;
      grid-row: 3/4;
      align-self: start;
      color: #30444E;
      font-size: 1rem; }
    .section3 .sec3_item1 .sec3_a {
      grid-column: 1/2;
      grid-row: 4/5;
      align-self: end; }
  .section3 .sec3_item2 {
    grid-column: 3/4;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.7fr 1fr 0.4fr; }
    .section3 .sec3_item2 .ico_sec3_2 {
      grid-column: 1/2;
      grid-row: 1/2;
      align-self: center; }
    .section3 .sec3_item2 h3 {
      grid-column: 1/2;
      grid-row: 2/3;
      align-self: center;
      color: #EE4248;
      font-size: 1.5rem; }
    .section3 .sec3_item2 p {
      grid-column: 1/2;
      grid-row: 3/4;
      align-self: start;
      color: #30444E;
      font-size: 1rem; }
    .section3 .sec3_item2 .sec3_a {
      grid-column: 1/2;
      grid-row: 4/5;
      align-self: end; }
  .section3 .sec3_item3 {
    grid-column: 4/5;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.7fr 1fr 0.4fr; }
    .section3 .sec3_item3 .ico_sec3_3 {
      grid-column: 1/2;
      grid-row: 1/2;
      align-self: center; }
    .section3 .sec3_item3 h3 {
      grid-column: 1/2;
      grid-row: 2/3;
      align-self: center;
      color: #EE4248;
      font-size: 1.5rem; }
    .section3 .sec3_item3 p {
      grid-column: 1/2;
      grid-row: 3/4;
      align-self: start;
      color: #30444E;
      font-size: 1rem; }
    .section3 .sec3_item3 .sec3_a {
      grid-column: 1/2;
      grid-row: 4/5;
      align-self: end; }
  .section3 .sec3_a {
    align-self: start;
    display: block;
    text-align: center;
    padding-top: 0.7rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.8rem;
    background: #EE4248;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color: #FFFFFF;
    width: 10rem;
    height: 3.3rem;
    text-decoration: none; }

.section4 {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
  grid-template-rows: minmax(9.37rem, auto); }
  .section4 .sec4_item1 {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr; }
    .section4 .sec4_item1 .logo {
      justify-self: start; }
  .section4 .sec4_item2 {
    grid-column: 3/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 0.5fr);
    justify-items: start;
    align-items: center; }
    .section4 .sec4_item2 a {
      text-decoration: none;
      color: #263238; }

footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(4rem, 1fr);
  justify-items: center;
  align-items: center;
  background-color: #EE4248; }

@media screen and (min-width: 450px) and (max-width: 899px) {
  body {
    background-color: white;
    font-size: 16px; }
    body header {
      display: grid;
      grid-template-columns: 3fr 2fr 3fr 0.2fr;
      grid-template-rows: 70px;
      align-content: center;
      justify-content: center;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); }
      body header .hamburger-menu {
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: center; }
      body header .logo {
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: center; }
      body header .nav_btn {
        grid-column: 3/4;
        grid-row: 1/2;
        justify-self: end; }
    body main {
      max-width: 100%;
      display: grid;
      grid-template-columns: 0.3fr 4fr 0.3fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      justify-content: center;
      align-content: center; }
      body main .section1 {
        grid-column: 2/3;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 1fr; }
        body main .section1 .rsi_sec1 {
          grid-column: 1/2;
          grid-row: 1/2;
          justify-self: center;
          max-width: 563px; }
        body main .section1 .lsi_sec1 {
          grid-column: 1/2;
          grid-row: 2/3;
          gap: 1rem; }
          body main .section1 .lsi_sec1 .sec1_btn {
            display: inline-block;
            margin: auto;
            width: 50%; }
      body main .section2 {
        grid-column: 2/3;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
        background-color: white; }
        body main .section2 .lsi_sec2 {
          grid-column: 1/2;
          grid-row: 1/2;
          justify-self: center; }
        body main .section2 .rsi_sec2 {
          grid-column: 1/2;
          grid-row: 2/3; }
      body main .section3 {
        grid-column: 2/3;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 3fr;
        gap: 1rem; }
        body main .section3 .sec3_h3 {
          grid-column: 1/4;
          grid-row: 1/2;
          justify-self: center; }
        body main .section3 .sec3_item1 {
          grid-column: 1/2;
          grid-row: 2/3; }
          body main .section3 .sec3_item1 .ico_sec3_1 {
            max-width: 100px; }
        body main .section3 .sec3_item2 {
          grid-column: 2/3;
          grid-row: 2/3; }
          body main .section3 .sec3_item2 .ico_sec3_2 {
            max-width: 100px; }
        body main .section3 .sec3_item3 {
          grid-column: 3/4;
          grid-row: 2/3; }
          body main .section3 .sec3_item3 .ico_sec3_3 {
            max-width: 100px; }
      body main .section4 {
        grid-column: 2/3;
        grid-row: 4/5; }

  /* скрываем чекбокс */
  #menu__toggle {
    opacity: 0; }

  /* стилизуем кнопку */
  .menu__btn {
    display: flex;
    /* используем flex для центрирования содержимого  sss s*/
    align-items: center;
    /* центрируем содержимое ssss git кнопки */
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1; }

  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161; }

  .menu__btn > span::before {
    content: '';
    top: -8px; }

  .menu__btn > span::after {
    content: '';
    top: 8px; }

  /* контейнер меню */
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2); }

  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none; }

  .menu__item:hover {
    background-color: #CFD8DC; }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg); }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0); }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg); }

  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0; }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: .25s; }

  .menu__box {
    transition-duration: .25s; }

  .menu__item {
    transition-duration: .25s; } }
@media screen and (min-width: 320px) and (max-width: 450px) {
  background-color: red; }

/*# sourceMappingURL=style.css.map */
